---
import Layout from "../../layouts/Layout.astro";
---

<meta charset="UTF-8" />
<Layout title="nota-peugeot-e3008" bodyClass="otras-page">
  <section class="nota-container">
    <div class="nota-header">
      <h1>Volvo XC40 Recharge</h1>
      <p class="subtitulo">El futuro eléctrico con seguridad y elegancia</p>
    </div>

    <section class="feature-banner-1">
      <img
        src="/img/volvo-cx40-lateral.jpg"
        alt="Vista lateral Volvo XC40 Recharge"
      />
      <div class="feature-text-1">
        <h2 class="feature-title-1">Potencia y Eficiencia</h2>
      </div>
    </section>

    <section class="dynamic-layout">
      <div class="dynamic-item">
        <img src="/img/volvo-cx40-1.png" alt="Volvo XC40 Recharge" />
      </div>
      <div class="dynamic-item text-box">
        <h2>Diseño Vanguardista</h2>
        <p>
          Este SUV es una obra maestra moderna, con líneas aerodinámicas y
          detalles elegantes que lo hacen destacar. Los materiales de alta
          calidad y los acabados exquisitos ofrecen una experiencia visual y
          táctil premium. Además, su diseño no solo está pensado para ser
          estéticamente atractivo, sino también para mejorar la aerodinámica y
          la eficiencia.
        </p>
        <p>
          Con un diseño que fusiona la estética con la funcionalidad, el Volvo
          XC40 Recharge no solo impresiona a primera vista, sino que también
          proporciona un confort inigualable. Su presencia en la carretera es
          imponente y, al mismo tiempo, tiene un enfoque en la sostenibilidad,
          utilizando materiales que minimizan el impacto ambiental.
        </p>
      </div>
    </section>

    <section class="dynamic-layout reverse">
      <div class="dynamic-item text-box">
        <h2>Interiores Tecnológicos</h2>
        <p>
          El interior está diseñado con un enfoque en la comodidad y la
          sostenibilidad. Materiales reciclados y amigables con el medio
          ambiente adornan el habitáculo. La integración de Google en el sistema
          de infoentretenimiento, con una pantalla táctil de 9 pulgadas, asegura
          una experiencia digital fluida y conectada. Controla todo desde la
          navegación hasta las funciones del vehículo con comandos de voz.
        </p>
        <p>
          Además de la tecnología avanzada, el Volvo XC40 Recharge cuenta con un
          sistema de climatización eficiente, asegurando que cada viaje sea
          cómodo y placentero. Con espacios diseñados para optimizar la
          circulación del aire y asientos ergonómicos, se garantiza una
          experiencia de conducción de primer nivel en todos los aspectos.
        </p>
      </div>
      <div class="dynamic-item">
        <img
          src="/img/volvo-cx40-interior.jpg"
          alt="Interiores del Volvo XC40"
        />
      </div>
    </section>

    <section class="feature-banner">
      <img src="/img/volvo-cx40-s-portada.gif" alt="Carga Ultrarápida" />
      <div class="feature-text">
        <h2 class="feature-title">Carga Ultrarápida</h2>
        <p class="feature-paragraph">
          Con una capacidad de carga ultrarrápida que alcanza el 80% en tan solo
          37 minutos, este vehículo es ideal tanto para los desplazamientos
          diarios como para viajes de mayor distancia.
        </p>
      </div>
    </section>

    <section class="dynamic-layout">
      <div class="dynamic-item text-box">
        <h2>Autonomía y Seguridad</h2>
        <p>
          Una autonomía de hasta 418 km por carga permite desplazamientos
          prolongados sin preocupaciones. Además, incorpora avanzadas
          tecnologías de seguridad como Pilot Assist, que facilita la conducción
          semiautónoma, y City Safety, un sistema innovador que detecta
          peatones, ciclistas y obstáculos, ayudando a evitar colisiones.
        </p>
        <p>
          La combinación de un sistema de conducción avanzada y múltiples
          sensores de seguridad convierte al XC40 Recharge en uno de los
          vehículos más seguros de su categoría. Con su estructura robusta y
          características de seguridad activa y pasiva, cada viaje es una
          experiencia segura y tranquila para el conductor y los pasajeros.
        </p>
      </div>
      <div class="dynamic-item">
        <img src="/img/volvo-cx40-trasero.jpg" alt="Autonomía y Seguridad" />
      </div>
    </section>
  </section>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Lora", serif;
    background: #000;
    color: white;
  }

  .nota-container {
    width: 100%;
    overflow: hidden;
  }

  .nota-header {
    text-align: center;
    padding: 60px 20px;
    background: #b98f04;
    color: black;
  }

  .nota-header h1 {
    font-size: 4rem;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
  }

  .nota-header .subtitulo {
    font-size: 1.6rem;
    margin-top: 10px;
  }

  /* Diseño flexible para imágenes y texto */
  .dynamic-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
  }

  .dynamic-item {
    flex: 1;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dynamic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-box {
    padding: 100px;
    background: #b98f04;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-box h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: start;
    font-weight: 600;
    text-transform: uppercase;
  }

  .text-box p {
    font-size: 1.4rem;
    text-align: start;
    padding: 20px;
  }

  /* SECCIÓN "CARGA ULTRARÁPIDA" */
  .feature-banner {
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between; /* Título arriba, texto abajo */
    padding: 1% 10%;
    background: rgba(0, 0, 0, 0.3); /* Fondo negro semi-transparente */
  }

  .feature-title {
    width: 100%;
    font-size: 4rem;
    color: #d5ac24;
    font-weight: bold;
    border-radius: 10px;
    padding-bottom: 20px;
    /*background: rgba(0, 0, 0, 0.2); Fondo negro semi-transparente */
    border-bottom: 2px solid rgb(91, 91, 91);
  }

  .feature-paragraph {
    font-size: 1rem;
    color: rgb(186, 186, 186);
    width: 80%;
    padding: 5px;
  }

  /* RESPONSIVE DESIGN */
  @media (max-width: 768px) {
    .dynamic-layout {
      flex-direction: column;
    }

    .dynamic-item {
      min-height: 0vh;
    }

    /* Alternar imágenes y texto en móviles */
    .dynamic-layout.reverse {
      flex-direction: column-reverse;
    }

    .nota-header {
      padding: 30px 20px;
    }

    .nota-header h1 {
      font-size: 40px;
      font-weight: 600;
    }

    .nota-header .subtitulo {
      font-size: 1.2rem;
      margin-top: 15px;
    }

    .feature-text {
      padding: 10% 5%;
      background: none;
    }

    /* titulo carga ultra-rapida */
    .feature-title {
      font-size: 3rem;
    }

    .feature-paragraph {
      font-size: 1.1rem;
    }

    .text-box {
      padding: 30px;
      text-align: start;
    }

    .text-box h2 {
      text-align: center;
    }

    .text-box p {
      text-align: start;
      font-size: 1.2rem;
    }
  }

  .feature-banner-1 {
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  .feature-banner-1 img {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 3;
  }

  .feature-text-1 {
    position: absolute;
    width: 100%;
    padding: 5%;
    text-align: end;
    /*background: linear-gradient(
      to right,
      rgba(59, 58, 58, 0.3),
      rgba(0, 0, 0, 0)
    );*/
    padding-top: 310px;
    border-radius: 10px;
    z-index: 3;
    font-weight: 600;
    text-transform: uppercase;
  }

  .feature-title-1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
    color: #faf9f7;
  }

  .feature-paragraph-1 {
    font-size: 2rem;
    padding: 20px;
  }

  /* Ajustes para móviles imagen principal y texto */
  @media (max-width: 1400px) {
    .feature-text-1 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 20px;
      background: none;
      text-align: center;
      color: black;
    }

    .feature-title-1 {
      font-size: 2.6rem;
      color: white;
      font-weight: 600;
    }

    .feature-paragraph-1 {
      font-size: 1.5rem;
    }
  }

  /* Ajustes específicos para pantallas más pequeñas */
  @media (max-width: 776px) {
    .feature-title-1 {
      font-size: 2.4rem;
    }
  }

  /* Ajustes para pantallas aún más pequeñas */
  @media (max-width: 768px) {
    .feature-title-1 {
      font-size: 2.1rem;
    }
  }
</style>
