---
import Layout from "../../layouts/Layout.astro";
---

<meta charset="UTF-8" />
<Layout title="nota-mini-cooper" bodyClass="otras-page">
  <section class="nota-container">
    <div class="nota-header">
      <h1>Mini Cooper Eléctrico</h1>
      <p class="subtitulo">Electromovilidad con estilo icónico</p>
    </div>

    <section class="feature-banner-1">
      <div class="feature-text-1">
        <h2 class="feature-title-1">movimiento con Estilo.</h2>
      </div>
      <img
        src="/img/mini-cooper5.jpg"
        alt="Vista lateral Mini Cooper Eléctrico"
      />
    </section>

    <section class="dynamic-layout reverse">
      <div class="dynamic-item text-box">
        <h2>Diseño Clásico, Tecnología Moderna</h2>
        <p>
          Manteniendo su icónica silueta, el Mini Cooper Eléctrico incorpora
          detalles innovadores y aerodinámicos para una experiencia única.
        </p>
      </div>
      <div class="dynamic-item">
        <img src="/img/mini-cooper4.jpg" alt="Diseño Mini Cooper" />
      </div>
    </section>

    <section class="dynamic-layout">
      <div class="dynamic-item">
        <img src="/img/mini-cooper2.jpg" alt="Interior Mini Cooper Eléctrico" />
      </div>
      <div class="dynamic-item text-box">
        <h2>Conectividad y Confort</h2>
        <p>
          Equipado con una pantalla digital central, materiales premium y
          tecnología de asistencia, ofrece una conducción placentera y segura.
        </p>
      </div>
    </section>

    <section class="feature-banner-container">
      <div class="feature-banner">
        <img src="/img/mini-cooper3.jpg" alt="Carga Rápida Mini Cooper" />
      </div>
      <div class="feature-text">
        <h2 class="feature-title">Carga Rápida y Autonomía</h2>
        <p class="feature-paragraph">
          Con una autonomía de hasta 270 km y capacidad de carga rápida al 80%
          en solo 35 minutos, el Mini Cooper Eléctrico está listo para cualquier
          aventura urbana.
        </p>
      </div>
    </section>
  </section>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Lora", serif;
    background: #000;
    color: white;
  }

  .nota-container {
    width: 100%;
    overflow: hidden;
  }

  .nota-header {
    text-align: center;
    padding: 60px 20px;
    background: #b98f04;
    color: black;
  }

  .nota-header h1 {
    font-size: 4rem;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .nota-header .subtitulo {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .dynamic-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
  }

  .dynamic-item {
    flex: 1;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dynamic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-box {
    padding: 100px;
    background: #b98f04;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-box h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: start;
    text-transform: uppercase;
    font-weight: 600;
  }

  .text-box p {
    font-size: 1.4rem;
    text-align: start;
    padding: 20px;
  }

  .feature-banner-1 {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));*/
    z-index: 1;
  }

  .feature-banner-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    z-index: 3;
  }

  .feature-text-1 {
    position: absolute;
    bottom: 0; /* Posiciona el contenedor en la parte inferior */
    right: 0; /* Alinea el contenedor a la derecha */
    width: 50%;
    padding: 3%;
    text-align: end;
    /*background: rgba(186, 186, 186, 0.3);*/
    border-radius: 10px;
  }

  .feature-title-1 {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 5px;
    color: #faf8f8;
    /* text-shadow: 2px 2px 4px rgba(231, 229, 229, 0.4); Sombra al texto */
  }

  .feature-banner-container {
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column; /* Para alinear los elementos en columna */
    justify-content: center; /* Para alinear el contenido al final del contenedor */
  }

  .feature-banner {
    width: 100%;
    height: auto;
  }

  .feature-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative; /* No es necesario absolute */
    z-index: 3;
  }

  .feature-text {
    width: 80%;
    text-align: center;
    padding: 5%;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 20px; /* Agrega margen para separarlo de la imagen */
  }

  .feature-title {
    font-size: 4rem;
    color: #d5ac24;
    font-weight: bold;
    border-bottom: 2px solid rgb(91, 91, 91);
  }

  .feature-paragraph {
    font-size: 2rem;
    color: rgb(186, 186, 186);
  }

  @media (max-width: 768px) {
    .dynamic-layout {
      flex-direction: column;
    }

    .dynamic-layout.reverse {
      flex-direction: column-reverse;
    }

    .feature-text {
      width: 90%;
      padding: 10%;
    }

    .feature-title {
      font-size: 3rem;
    }

    .feature-paragraph {
      font-size: 1.5rem;
    }

    .text-box {
      padding: 50px;
      text-align: center;
    }

    .text-box h2 {
      text-align: center;
    }
  }
</style>
