<section id="hibridos" class="hibridos-container">
  <div class="central-content">
    <i class="fa-brands fa-megaport icono-central"></i>
    <h1>Carros Híbridos</h1>
    <p class="descripcion-hibridos">
      Modelos híbridos disponibles en el mercado nacional: consumo,
      características y detalles técnicos
    </p>
  </div>

  <div class="imagenes-container">
    <!-- Tarjeta 1 -->
    <a href="/notas-hibridos/nota-scape" class="hibrido">
      <div class="imagen-wrapper">
        <img
          src="../img/ford-scape-hibrida/ford-s.jpg"
          alt="ford-scape"
          class="hibrido-imagen"
        />
        <div class="texto-fecha">nota: 13-mar</div>
      </div>
      <div class="hibrido-texto">
        <h2>Ford Escape</h2>
        <p>
          Usa motor eléctrico y de gasolina, brindando bajo consumo y buena
          autonomía. Ideal para viajes largos y manejo urbano cómodo y
          eficiente.
        </p>
      </div>
    </a>

    <!-- Tarjeta 2 -->
    <a href="/notas-hibridos/nota-volvo-cx90" class="hibrido">
      <div class="imagen-wrapper">
        <img
          src="/img/volvo-cx90-hibrida/volvo-cx90-portada.webp"
          alt="Volvo"
          class="hibrido-imagen"
        />
        <div class="texto-fecha">nota: 16-mar</div>
      </div>
      <div class="hibrido-texto">
        <h2>Volvo XC90</h2>
        <p>
          SUV premium con motor híbrido y diseño escandinavo. Potente, eficiente
          y seguro, pensado para quienes buscan confort y tecnología.
        </p>
      </div>
    </a>

    <!-- Tarjeta 3 -->
    <a href="/notas-hibridos/nota-subaru" class="hibrido">
      <div class="imagen-wrapper">
        <img
          src="/img/subaru-forester-hibrida/subaru-forester-portada.webp"
          alt="Subaru"
          class="hibrido-imagen"
        />
        <div class="texto-fecha">nota: 21-mar</div>
      </div>
      <div class="hibrido-texto">
        <h2>Subaru Forester E-Boxer</h2>
        <p>
          Integra motor bóxer con eléctrico para una tracción estable y
          eficiente. Ideal para caminos mixtos y aventuras urbanas.
        </p>
      </div>
    </a>
  </div>

  <div class="imagenes-container nuevas-imagenes">
    <!-- Tarjeta 4 -->
    <a href="/notas-hibridos/nota-kona" class="hibrido">
      <div class="imagen-wrapper">
        <img
          src="/img/kona-hibrida/kona-portada.webp"
          alt="Kona"
          class="hibrido-imagen"
        />
        <div class="texto-fecha">nota: 25-mar</div>
      </div>
      <div class="hibrido-texto">
        <h2>Hyundai Kona Hybrid</h2>
        <p>
          SUV compacto con consumo eficiente y diseño moderno. Incorpora ayudas
          de conducción y pantallas digitales para una experiencia conectada.
        </p>
      </div>
    </a>

    <!-- Tarjeta 5 -->
    <a href="/notas-hibridos/nota-audi-q7" class="hibrido">
      <div class="imagen-wrapper">
        <img
          src="/img/audi-q7-hibrida/audi-q7-portada.webp"
          alt="Audi Q7"
          class="hibrido-imagen"
        />
        <div class="texto-fecha">nota: 28-mar</div>
      </div>
      <div class="hibrido-texto">
        <h2>Audi Q7 TFSI E</h2>
        <p>
          Lujoso SUV híbrido con motor V6 y gran autonomía eléctrica.
          Tecnología, potencia y confort se combinan en este modelo premium de
          Audi.
        </p>
      </div>
    </a>

    <!-- Tarjeta 6 -->
    <a href="/notas-hibridos/nota-nissan" class="hibrido">
      <div class="imagen-wrapper">
        <img
          src="../img/nissan-xtrail-hibrida/nissan-x-trail.webp"
          alt="X-Trail"
          class="hibrido-imagen"
        />
        <div class="texto-fecha">nota: 30-mar</div>
      </div>
      <div class="hibrido-texto">
        <h2>Nissan X-Trail E-Power</h2>
        <p>
          SUV híbrido que destaca en ventas por su diseño, confort y motor
          eléctrico. Una opción confiable y moderna para la familia y ciudad,
          disfrutando de su confort.
        </p>
      </div>
    </a>
  </div>
</section>
<div class="ver-mas-container izquierda">
  <a href="/hibridos-antiguos" class="ver-mas-boton">
    <i class="fas fa-arrow-right flecha-icono"></i>
    <span class="texto-hover">Ver más híbridos</span>
  </a>
</div>

<!-- CSS -->
<style>
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita desbordamientos laterales */
  }

  .hibridos-container {
    width: 100%;

    background: linear-gradient(rgb(13, 13, 13) 30%, #000 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Georgia", serif;
    padding: 0;
  }

  .central-content {
    text-align: center;
    padding: 40px;
    width: 100%;

    gap: 0;
    margin: 0;
  }

  .icono-central {
    font-size: 80px;
    color: #0af2d7;
    animation: pulso-electrico 1.5s infinite ease-in-out;
  }

  /* animacion icono titulo  */
  @keyframes pulso-electrico {
    0% {
      text-shadow:
        0 0 2px #0af2d7,
        0 0 4px #0af2d7;
      transform: scale(1);
    }
    50% {
      text-shadow:
        0 0 6px #0af2d7,
        0 0 10px #0af2d7;
      transform: scale(1.05);
    }
    100% {
      text-shadow:
        0 0 2px #0af2d7,
        0 0 4px #0af2d7;
      transform: scale(1);
    }
  }

  .central-content h1 {
    font-size: 60px;
    color: rgb(243, 241, 241);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
    padding: 20px;
    font-family: "Georgia", serif;
  }

  /* animacion titulo aparezca */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .descripcion-hibridos {
    font-size: 1.6rem;
    color: rgb(215, 214, 214);
    margin-top: 2px;
    font-family: "Georgia", serif;
    font-weight: 500;
    margin-top: -20px;
  }

  .animate-title {
    animation: fadeInUp 1s ease-out;
  }

  .central-content h1 {
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s;
  }

  .imagenes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 100%;
    width: 100%;
    padding: 30px 30px;
    margin: auto;
  }

  @media (min-width: 768px) {
    .imagenes-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .imagenes-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .hibrido {
    background-color: #f9f9f9;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;

    width: 100%;
  }

  .hibrido:hover {
    transform: translateY(-10px);
  }

  .imagen-wrapper {
    position: relative;
    width: 100%;
  }

  .hibrido-imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .hibrido-texto {
    background: linear-gradient(
      to bottom,
      #2b2b2b,
      #1a1a1a
    ); /* Gris oscuro a negro */

    color: white;
    padding: 20px;
    text-align: start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hibrido-texto h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #76aea8;
    color: #f6f7f7;

    text-align: start; /* Cambia la alineación a la izquierda */
    position: relative; /* Necesario para el pseudo-elemento ::after */

    display: inline-block;
    width: 85%;
  }

  .hibrido-texto h2::first-letter {
    font-size: 2.4rem;
    font-weight: bold;
    color: #0af2d7;
  }

  .hibrido-texto p {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    line-height: 1.6;
    margin: 0;
    text-align: start; /* Cambia la alineación a la izquierda */
    color: #cacaca;
    width: 90%;
    padding-top: 15px;
  }

  .texto-fecha {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3e3d3dcc;
    color: #d2fafa;
    padding: 6px 12px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .ver-mas-boton {
    margin-left: 35px;

    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background-color: #0af2d7;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    overflow: hidden;
    position: relative;
    width: auto;
    margin: 20px;
  }

  /* Oculta el texto inicialmente */
  .ver-mas-boton .texto-hover {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:
      max-width 0.4s ease,
      opacity 0.4s ease;
  }

  /* Al hacer hover, muestra el texto */
  .ver-mas-boton:hover .texto-hover {
    max-width: 200px;
    opacity: 1;
    margin-left: 8px;
  }

  .flecha-icono {
    font-size: 1.2rem;
  }

  .ver-mas-boton:hover .flecha-icono {
    transform: translateX(4px);
    transition: transform 0.3s ease;
  }

  @media (max-width: 768px) {
    .imagenes-container {
      grid-template-columns: 1fr; /* Una sola columna */
      padding: 0; /* Sin padding lateral */
      gap: 20px; /* Espacio entre tarjetas */
    }

    .hibrido {
      width: 100vw; /* Ocupa todo el ancho de la ventana */
      margin-left: -10px; /* Ajusta si hay padding en el contenedor padre */
      border-radius: 0; /* Opcional: sin bordes redondeados */
    }

    .imagen-wrapper,
    .hibrido-imagen {
      width: 100vw; /* Imagen ocupa todo el ancho de la ventana */
      max-width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      position: relative;
    }

    .hibrido-imagen {
      height: 220px; /* Ajusta la altura si lo deseas */
      object-fit: cover;
      display: block;
    }

    .texto-fecha {
      font-size: 14px;
      padding: 4px 8px;
      text-transform: none;
      right: 28px; /* <-- Ajusta el margen derecho */
      top: 8px; /* <-- Ajusta el margen superior */
    }

    .icono-central {
      font-size: 4rem;
      padding: 20px;
    }

    .central-content {
      padding: 0; /* sin padding */
      text-align: center;
    }

    .central-content h1 {
      font-size: 44px;
      letter-spacing: 2px;
    }

    .descripcion-hibridos {
      width: 100%;
      padding: 0 15px; /* espacio lateral */
      margin: 10px 0; /* espacio arriba y abajo */
      font-size: 1.1rem;
      text-align: start;
      line-height: 1.5; /* mejor lectura */
      display: block;
      box-sizing: border-box;
      background: #0e0d0d;
    }

    .hibrido-texto {
      padding: 20px;
      gap: 0;
      width: 100%;
    }

    .hibrido-texto h2 {
      font-size: 20px;
      text-align: start;
      background: none;
      margin: 0;
      font-weight: 500;
    }

    .hibrido-texto p {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 25px;
      padding: 5px;
    }

    .hibrido-imagen {
      width: 100%;
      height: 250px;
    }

    .ver-mas-boton {
      margin-left: 10px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tituloHibrido = document.querySelector(
      "#hibridos .central-content h1"
    ) as HTMLElement;

    if (!tituloHibrido) return;

    const observerHibridos = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            tituloHibrido.classList.add("animate-title");
            tituloHibrido.style.opacity = "1";
          } else {
            tituloHibrido.classList.remove("animate-title");
            tituloHibrido.style.opacity = "0";
          }
        });
      },
      { threshold: 0.5 }
    );

    observerHibridos.observe(tituloHibrido);
  });
</script>
