---

---

<section id="hibridos" class="hibridos-container">
  <div class="central-content">
    <h1>
      Tu <span class="destacado">Guía</span> Rápida a la Movilidad
      <span class="destacado">Híbrida</span>
    </h1>
    <p>
      Todo lo esencial sobre <span class="resaltado">vehículos híbridos</span> en
      un solo lugar.
      <span class="resaltado"> Autonomía</span>, <span class="resaltado"
        >tecnología</span
      >,
      <span class="resaltado">diseño</span> y lo que realmente importa, sin rodeos.
    </p>
  </div>
</section>
<div class="imagenes-container">
  <div class="hibrido">
    <a href="/notas-hibridos/nota-scape">
      <img src="../img/ford-s.jpg" alt="ford-scape" class="hibrido-imagen" />
      <div class="hibrido-texto">
        <h2>Ford Escape</h2>
        <p>
          Eficiencia de Combustible. Al utilizar tanto un motor de gasolina como
          uno eléctrico, los híbridos maximizan el rendimiento del combustible.
        </p>
      </div>
      <div class="texto-fecha">
        <p>nota: 13-mar</p>
      </div>
    </a>
  </div>
  <div class="hibrido">
    <a href="/notas-hibridos/nota-volvo-cx90">
      <img
        src="../img/volvo-cx90-portada.jpg"
        alt="Stonic"
        class="hibrido-imagen"
      />
      <div class="hibrido-texto">
        <h2>volvo cx90</h2>
      </div>
      <div class="texto-fecha">
        <p>nota: 13-mar</p>
      </div>
    </a>
  </div>
  <div class="hibrido">
    <a href="/notas-hibridos/nota-subaru">
      <img src="../img/subaru.jpg" alt="Volkswagen" class="hibrido-imagen" />
      <div class="hibrido-texto">
        <h2>Subaru Forester E-Boxer</h2>
        <p>
          Combina un motor bóxer con un propulsor eléctrico, ofreciendo una
          conducción híbrida en el segmento de los SUV.
        </p>
      </div>
      <div class="texto-fecha">
        <p>nota: 13-mar</p>
      </div>
    </a>
  </div>
</div>
<div class="imagenes-container nuevas-imagenes">
  <div class="hibrido">
    <a href="/notas-hibridos/nota-kona">
      <img
        src="../img/kona-portada.jpg"
        alt="Nueva Imagen 1"
        class="hibrido-imagen"
      />
      <div class="hibrido-texto">
        <h2>kona</h2>
        <p>
          Este SUV híbrido enchufable, ofrece una potencia combinada de 394 hp y
          la capacidad de recorrer aproximadamente 80 kilómetros en modo
          totalmente eléctrico.
        </p>
      </div>
      <div class="texto-fecha">
        <p>nota: 13-mar</p>
      </div>
    </a>
  </div>
  <div class="hibrido">
    <a href="/notas-hibridos/nota-audi-q7">
      <img
        src="../img/audi-q7-portada1.jpg"
        alt="Nueva Imagen 2"
        class="hibrido-imagen"
      />
      <div class="hibrido-texto">
        <h2>Byd yuan</h2>
        <p>
          la marca que actualmente lidera ventas en todo el mundo, llamada BYD,
          tiene nuevo integrante que no tendra competencia alguna convina
          diseño, tecnologia, confor etc.
        </p>
      </div>
      <div class="texto-fecha">
        <p>nota: 13-mar</p>
      </div>
    </a>
  </div>
  <div class="hibrido">
    <a href="/notas-hibridos/nota-nissan">
      <img
        src="../img/nissan-x-trail.webp"
        alt="Nueva Imagen 3"
        class="hibrido-imagen"
      />
      <div class="hibrido-texto">
        <h2>Nissan x-trail</h2>
        <p>
          Nissan como ya saben, nos acostumbra a buenos productos asi que llega
          con su nueva totalmente nueva x-trail, una camioneta hibrida que
          ofrece confor, diseño y tecnologia.
        </p>
      </div>
      <div class="texto-fecha">
        <p>nota: 13-mar</p>
      </div>
    </a>
  </div>
</div>

<style>
  html {
    scroll-behavior: smooth;
  }

  .hibridos-container {
    display: grid;
    place-items: center;
    gap: 10px;
    background: linear-gradient(black 30%, #000 70%);
    background-position: center;
    padding: 0;
    text-align: center;
    font-family: "Georgia", serif;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  }

  .central-content {
    grid-row: 1;
    background: black;
    width: 100%;
    padding: 20px;
  }

  .hibridos-container h1 {
    font-weight: 600;
    font-size: clamp(3.4rem, 4vw, 3.5rem);
    color: white;
    border-bottom: 2px solid white;
    border-radius: 5px;
    background: black;
    letter-spacing: 1.6px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .hibridos-container p {
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.3rem);
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 10px;
  }

  .destacado {
    color: #97aa58; /* Cambia este color según tu preferencia */
    font-weight: bold;
  }

  .resaltado {
    color: #97aa58; /* Cambia este color según tu preferencia */
    font-style: italic;
  }

  .imagenes-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
  }

  @media (min-width: 768px) {
    .imagenes-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .imagenes-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .imagenes-container.nuevas-imagenes {
    margin-top: 20px;
  }

  .hibrido {
    position: relative;
    background-color: #f9f9f9;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s ease;
  }

  .hibrido:hover {
    transform: translateY(-10px);
  }

  .hibrido-imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .hibrido-texto {
    position: absolute;
    bottom: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    text-align: center;
    transition: bottom 0.8s ease;
    height: 100%;
  }

  .hibrido:hover .hibrido-texto {
    bottom: 0;
  }

  .hibrido-texto h2 {
    font-size: clamp(1.4rem, 3vw, 2.2rem);
    margin-bottom: 10px;
    padding: 5px;
  }

  .hibrido-texto p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    color: #fff;
  }

  .ver-mas-container {
    text-align: center;
    margin-top: 20px;
  }
</style>
