<section id="hibridos" class="hibridos-container">
  <div class="central-content">
    <h1><i class="fa-brands fa-megaport"></i>hibridos</h1>
  </div>

  <div class="imagenes-container">
    <div class="hibrido">
      <a href="/notas-hibridos/nota-scape">
        <img src="../img/ford-s.jpg" alt="ford-scape" class="hibrido-imagen" />
      </a>
      <div class="hibrido-texto">
        <h2>Ford Escape</h2>
        <p>
          Usa motor eléctrico y de gasolina, brindando bajo consumo y buena
          autonomía. Ideal para viajes largos y manejo urbano cómodo y
          eficiente.
        </p>
        <div class="texto-fecha">
          <p>nota: 13-mar</p>
        </div>
      </div>
    </div>

    <div class="hibrido">
      <a href="/notas-hibridos/nota-volvo-cx90">
        <img
          src="/img/volvo-cx90-hibrida/volvo-cx90-portada.jpg"
          alt="Volvo"
          class="hibrido-imagen"
        />
      </a>
      <div class="hibrido-texto">
        <h2>Volvo XC90</h2>
        <p>
          SUV premium con motor híbrido y diseño escandinavo. Potente, eficiente
          y seguro, pensado para quienes buscan confort y tecnología avanzada.
        </p>
        <div class="texto-fecha">
          <p>nota: 16-mar</p>
        </div>
      </div>
    </div>

    <div class="hibrido">
      <a href="/notas-hibridos/nota-subaru">
        <img src="../img/subaru.jpg" alt="Subaru" class="hibrido-imagen" />
      </a>
      <div class="hibrido-texto">
        <h2>Subaru Forester E-Boxer</h2>
        <p>
          Integra motor bóxer con eléctrico para una tracción estable y
          eficiente. Ideal para caminos mixtos y aventuras urbanas o al aire
          libre.
        </p>
        <div class="texto-fecha">
          <p>nota: 21-mar</p>
        </div>
      </div>
    </div>
  </div>

  <div class="imagenes-container nuevas-imagenes">
    <div class="hibrido">
      <a href="/notas-hibridos/nota-kona">
        <img
          src="/img/kona-hibrida/kona-portada.webp"
          alt="Kona"
          class="hibrido-imagen"
        />
      </a>
      <div class="hibrido-texto">
        <h2>Hyundai Kona Hybrid</h2>
        <p>
          SUV compacto con consumo eficiente y diseño moderno. Incorpora ayudas
          de conducción y pantallas digitales para una experiencia conectada.
        </p>
        <div class="texto-fecha">
          <p>nota: 25-mar</p>
        </div>
      </div>
    </div>

    <div class="hibrido">
      <a href="/notas-hibridos/nota-audi-q7">
        <img
          src="/img/audi-q7-hibrida/audi-q7-frente.webp"
          alt="Audi Q7"
          class="hibrido-imagen"
        />
      </a>
      <div class="hibrido-texto">
        <h2>Audi Q7 TFSI E</h2>
        <p>
          Lujoso SUV híbrido con motor V6 y gran autonomía eléctrica.
          Tecnología, potencia y confort se combinan en este modelo premium de
          Audi.
        </p>
        <div class="texto-fecha">
          <p>nota: 28-mar</p>
        </div>
      </div>
    </div>

    <div class="hibrido">
      <a href="/notas-hibridos/nota-nissan">
        <img
          src="../img/nissan-x-trail.webp"
          alt="X-Trail"
          class="hibrido-imagen"
        />
      </a>
      <div class="hibrido-texto">
        <h2>Nissan X-Trail E-Power</h2>
        <p>
          SUV híbrido que destaca en ventas por su diseño, confort y motor
          eléctrico. Una opción confiable y moderna para la familia y ciudad.
        </p>
        <div class="texto-fecha">
          <p>nota: 30-mar</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

  .central-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    color: rgb(243, 241, 241);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: black; /* Fondo negro para toda la página */
    color: white; /* Cambia el color del texto para mejor contraste */
    margin: 0; /* Elimina márgenes para que cubra toda la pantalla */
  }

  .hibridos-container {
    display: grid;
    place-items: center;
    gap: 10px;
    background: linear-gradient(black 30%, #000 70%);
    padding: 0;
    text-align: center;

    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  }

  .central-content {
    text-align: center; /* Centrar el contenido */
    background-color: #3a5250; /* Color de fondo */
    padding: 30px; /* Espaciado interno */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 100%;
  }

  .central-content i {
    padding: 10px;
    color: #0af2d7;
  }

  .central-content h1 {
    font-size: 48px; /* Tamaño de fuente */
    color: rgb(243, 241, 241); /* Color del texto */
    font-weight: bold; /* Peso de la fuente */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    font-family: "Georgia", serif;
  }

  .imagenes-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
  }

  @media (min-width: 768px) {
    .imagenes-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .imagenes-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .hibrido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 600px; /* Esto fija una altura base para todas */
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .hibrido:hover {
    transform: translateY(-10px);
  }

  .hibrido-imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .hibrido-texto {
    background: #283937;
    color: rgb(219, 218, 218);
    padding: 20px;
    text-align: start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hibrido-texto h2 {
    font-size: clamp(1.3rem, 3vw, 2rem);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .hibrido-texto p {
    font-size: clamp(1.3rem, 1.2vw, 1.2rem);
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hibrido-texto .texto-fecha p {
    color: #f7a407;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #3a5250;
  }

  @media (max-width: 768px) {
    .hibrido {
      transition: none;
    }

    .hibrido:hover {
      transform: none;
    }

    .texto-fecha {
      background: #b98314;
    }

    .central-content h1 {
      font-size: 46px;
      letter-spacing: 6px;
    }

    .hibrido-texto p,
    h2 {
      text-align: start;
    }

    .hibrido-texto p {
      font-size: clamp(1.2rem, 1.2vw, 1.2rem);
      padding: 5px;
    }
  }
</style>
