---
// Importar el layout principal
import Layout from "../../layouts/Layout.astro";
---

<Layout title="noticia-ford" bodyClass="otras-page">
  <meta charset="UTF-8" />
  <section class="section-noticias">
    <!-- Título -->
    <div class="header">
      <h1>Explorando la Ford Bronco: innovaciones en diseño y seguridad.</h1>
    </div>
    <div class="container">
      <!-- Tarjeta 1 -->
      <div class="card">
        <div class="card-image">
          <img
            src="/img/ford-bronco/ford-bronco-portada.jpg"
            alt="bronco diseño"
          />
        </div>
        <div class="card-text">
          <h2>Diseño</h2>
          <p>
            La Ford Bronco tiene un diseño robusto y cuadrado que evoca la
            nostalgia de los todo terrenos clásicos.
          </p>
          <p>
            Personalización: permite una amplia personalización, ofreciendo
            diferentes opciones de techo desmontable y puertas extraíbles para
            disfrutar de una experiencia al aire libre completa. Además, está
            disponible en una variedad de colores y acabados que permiten a los
            propietarios expresar su estilo personal.
          </p>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div class="card reverse">
        <div class="card-image">
          <img
            src="/img/ford-bronco/ford-bronco-tecnologia.jpg"
            alt="bronco tecnología"
          />
        </div>
        <div class="card-text">
          <h2>Tecnología</h2>
          <p>
            Equipada con la última tecnología, la Ford Bronco ofrece un sistema
            de infoentretenimiento de vanguardia con puntos de acceso Wi-Fi 4G
            LTE,.
          </p>
          <p>
            <strong>Seguridad:</strong> En cuanto a seguridad, la Ford Bronco cuenta
            con un sistema de cámaras de 360 grados, control de crucero adaptativo
            y asistente de mantenimiento de carril. También incluye frenado automático
            de emergencia, lo que ayuda a evitar colisiones potenciales al detectar
            obstáculos en el camino y activar los frenos automáticamente si el conductor
            no reacciona a tiempo.
          </p>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="card">
        <div class="card-image">
          <img
            src="/img/ford-bronco/ford-bronco-motor.jpg"
            alt="bronco motor"
          />
        </div>
        <div class="card-text">
          <h2>Motor</h2>
          <p>
            Equipada con motores potentes, incluyendo el EcoBoost de 2.3 litros,
            ideal para aventuras extremas. Este motor turboalimentado
            proporciona una excelente combinación de potencia y eficiencia, para
            terrenos difíciles. Además, la Bronco ofrece la opción de un motor
            V6 EcoBoost de 2.7 litros, que proporciona aún más fuerza y
            rendimiento para los entusiastas del todoterreno.
          </p>
        </div>
      </div>
      <!-- Tarjeta 4 -->
      <div class="card reverse">
        <div class="card-image">
          <img
            src="/img/ford-bronco/ford-bronco-interior.jpg"
            alt="bronco interior"
          />
        </div>
        <div class="card-text">
          <h2>Interior</h2>
          <p>
            El interior combina comodidad y funcionalidad con asientos de cuero
            opcionales y materiales duraderos.
          </p>
          <p>
            Además, el diseño del interior está pensado para proporcionar el
            máximo confort y conveniencia, con características como
            almacenamiento inteligente y superficies fáciles de limpiar
          </p>
        </div>
      </div>
      <!-- Tarjeta 5 -->
      <div class="card">
        <div class="card-image">
          <img
            src="/img/ford-bronco/ford-bronco-suspension.jpg"
            alt="bronco suspensión"
          />
        </div>
        <div class="card-text">
          <h2>Suspensión</h2>
          <p>
            La suspensión avanzada con amortiguadores Bilstein asegura una
            conducción estable para el conductor y pasajeros sin importar el
            terreno.
          </p>
          <p>
            los amortiguadores Bilstein, conocidos por su durabilidad y
            rendimiento, garantizan una absorción de impactos eficiente y una
            estabilidad óptima, permitiendo que la Bronco mantenga su capacidad
            todoterreno sin comprometer el confort.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .section-noticias {
    padding: 20px 10px;
    text-align: center;
    max-width: 100%;
    margin: auto;
  }

  /* header */
  .header h1 {
    text-align: center;
    padding: 10px;
    font-size: 48px;
    font-weight: bolder;
    color: black;
    margin-bottom: 60px;
    background: white;
  }

  .header h1,
  .card-text h2 {
    font-family: "Georgia", serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;

    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-8px);
  }

  .card.reverse {
    flex-direction: row-reverse;
  }

  .card-image {
    width: 50%;
    height: 100%;
  }

  .card-image,
  .card-text {
    width: 100%;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text {
    width: 50%;
    padding: 70px;
    text-align: start;
  }

  .card-text h2 {
    font-size: 36px;
    color: black;
    margin-bottom: 15px;
    text-align: start;
    /*border-bottom: 2px solid black;
    display: inline-block;  Esto hace que el ancho de la línea sea igual al del texto */

    font-weight: bolder;
  }

  .card-text p {
    font-size: 20px;
    line-height: 1.6;
    color: #121212;
    text-align: start;
    font-family: "Poppins", sans-serif;
  }

  /* RESPONSIVE */
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
    }
    .header h1 {
      font-size: 26px;
      text-align: start;
      padding: 0 10px;
      margin-bottom: 20px;
    }

    .card.reverse {
      flex-direction: column;
    }

    .card-image,
    .card-text {
      width: 100%;
    }

    .card-text {
      text-align: center;
      padding: 10px;
    }

    .card-text h2 {
      font-size: 24px;
      border-bottom: none;
      text-align: start;
      padding: 0;
      margin: 0;
    }

    .card-text p {
      font-size: 18px;
      padding-top: 10px;
    }
  }
</style>
