---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="nota-byd" bodyClass="otras-page">
  <meta charset="UTF-8" />
  <section class="section-noticias">
    <!-- Título -->
    <div class="header">
      <h1>General Motors Aumentará su Producción en Indiana</h1>
    </div>
    <div class="container">
      <!-- Tarjeta 1 -->
      <div class="card">
        <div class="card-image">
          <img src="../img/portada-gm.webp" alt="gm aumento produccion" />
        </div>
        <div class="card-text">
          <h2>Producción en Fort Wayne</h2>
          <p>
            General Motors ha decidido aumentar la producción de camionetas en
            su planta de ensamblaje en Fort Wayne, Indiana, en respuesta a los
            aranceles del 25% impuestos por el presidente Donald Trump a las
            importaciones de vehículos y autopartes desde México y Canadá.
          </p>
          <p>
            La planta de Fort Wayne, que produce los modelos Chevrolet Silverado
            y GMC Sierra, incrementará su capacidad de producción mediante la
            incorporación de turnos extras y la contratación de trabajadores
            temporales. Esta medida busca mitigar el impacto de los aranceles y
            aumentar la disponibilidad de camionetas en el mercado.
          </p>
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div class="card reverse">
        <div class="card-image">
          <img src="../img/planta-gm.avif" alt="gm planta" />
        </div>
        <div class="card-text">
          <h2>Impacto de los Aranceles</h2>
          <p>
            Los aranceles del 25% sobre los vehículos importados desde México y
            Canadá, implementados por Trump, han afectado la competitividad de
            los costos de producción. Para contrarrestar este impacto, GM ha
            decidido aumentar la producción en sus plantas en EE. UU.,
            priorizando la producción de camionetas de alta demanda.
          </p>
          <p>
            La CEO de GM, Mary Barra, expresó que están evaluando la posibilidad
            de trasladar parte de la producción desde México y Canadá a los
            Estados Unidos, con el fin de mitigar los efectos de los aranceles y
            garantizar una respuesta más ágil a la demanda interna.
          </p>
        </div>
      </div>
      <!-- Tarjeta 3 -->
      <div class="card">
        <div class="card-image">
          <img src="../img/portada2-gm.jpeg" alt="camioneta gm" />
        </div>
        <div class="card-text">
          <h2>Respuesta a la Demanda del Mercado</h2>
          <p>
            La producción adicional de camionetas como la Chevrolet Silverado y
            la GMC Sierra se espera que responda a la creciente demanda de
            vehículos en Estados Unidos. GM está priorizando la fabricación de
            estos modelos, que son altamente populares en el mercado
            estadounidense, para satisfacer las expectativas de los
            consumidores.
          </p>
          <p>
            Esta iniciativa de GM se produce en un contexto de incertidumbre
            comercial y geopolítica, donde las políticas arancelarias pueden
            generar fluctuaciones en los costos de producción. Sin embargo, la
            compañía se mantiene optimista sobre sus capacidades para adaptarse
            a los cambios y seguir siendo competitiva en el mercado.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
  }

  .section-noticias {
    padding: 10px 10px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    font-family: "Georgia", serif;
  }

  /* header */
  .header h1 {
    text-align: center;
    padding: 10px;
    font-size: 52px;
    font-weight: bolder;
    color: black;
    margin-bottom: 20px;
    background: #b98f04;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;

    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-8px);
  }

  .card.reverse {
    flex-direction: row-reverse;
  }

  .card-image {
    width: 60%;
    height: 100%;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text {
    width: 50%;
    padding: 80px;
    text-align: start;
  }

  .card-text h2 {
    font-size: 44px;
    color: black;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    /*display: inline-block;  Esto hace que el ancho de la línea sea igual al del texto */
    text-transform: uppercase;
    font-weight: bolder;
  }

  .card-text p {
    font-size: 22px;
    line-height: 1.6;
    color: #444;
    text-align: start;
  }

  /* RESPONSIVE */
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
    }

    .header h1 {
      font-size: 32px;
    }

    .card.reverse {
      flex-direction: column;
    }

    .card-image,
    .card-text {
      width: 100%;
    }

    .card-text {
      text-align: center;
      padding: 20px;
    }
  }
</style>
