<div id="electricos" class="electrico-container">
  <div class="central-content">
    <h1>
      <i class="fas fa-car-battery" style="color:#00cc66; margin-right: 14px;"
      ></i>Eléctricos
    </h1>
  </div>

  <div class="grid-container">
    <div class="imagen-destacada nueva-destacada">
      <a href="/notas-electricos/nota-volvo-ex90" class="destacada-link">
        <div class="imagen-destacada-img">
          <img
            src="../img/volvo-ex90-electrico/volvo-ex90-portada.webp"
            alt="Volvo CX40"
            class="electrico-imagen"
          />
        </div>
        <div class="texto-destacado">
          <p class="texto-f">nota: 10-feb</p>
          <h2>Volvo ex90</h2>
          <p>
            No solo ofrece una autonomía de 500km sino que además llega con
            nuevo diseño vanguardista.
          </p>
        </div>
      </a>
    </div>
  </div>

  <div class="imagenes-grid">
    <div class="imagen-card">
      <a href="/notas-electricos/nota-mini-cooper">
        <img src="../img/mini-cooper1.jpg" alt="Mini Cooper" />
        <h2>Mini Cooper</h2>
        <p>Lujo y tecnología en un compacto eléctrico.</p>
        <p class="texto-f">nota: 13-mar</p>
      </a>
    </div>
    <div class="imagen-card">
      <a href="/notas-electricos/nota-peugeot-e3008">
        <img
          src="/img/peugeot-3008-electrica/principal-peugeot.webp"
          alt="peugeot e3008"
        />
        <h2>peugeot e-3008</h2>
        <p>Eléctrico y potente para la nueva era.</p>
        <p class="texto-f">nota: 24-mar</p>
      </a>
    </div>
    <div class="imagen-card">
      <a href="/notas-electricos/nota-byd-sealion7">
        <img
          src="/img/byd-sealion-7/byd-sealion7-principal.webp"
          alt="BYD Sealion 7"
        />
        <h2>BYD Sealion 7</h2>
        <p>Deportivo y sostenible sin perder su esencia.</p>
        <p class="texto-f">nota: 13-mar</p>
      </a>
    </div>
    <div class="imagen-card">
      <a href="/notas-electricos/nota-renault-megane">
        <img
          src="/img/renault-megane-e-tech/renault-megane-principal.webp"
          alt="Renault Megane"
        />
        <h2>Renault Megane</h2>
        <p>Compacto y eficiente para la movilidad urbana.</p>
        <p class="texto-f">nota: 20-abril</p>
      </a>
    </div>
  </div>
</div>

<style>
  /* Contenedor principal */
  .electrico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    border-bottom: 20px solid black;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .central-content h1 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 3;
    text-shadow: 2px 2px 6px rgba(16, 16, 16, 0.2);
    padding: 40px;
    font-family: "Georgia", serif;
  }

  .grid-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .nueva-destacada {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #0e0e0e;
    margin-top: 50px;
    width: 100%;
    max-width: 1680px;
    overflow: hidden;
  }

  .destacada-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  .texto-destacado {
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101010;
    color: white;
    text-align: left;
  }

  .texto-destacado h2 {
    font-size: 32px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f4bd07;
    font-family: "Georgia", serif;
  }

  .texto-destacado p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .texto-destacado .texto-f {
    font-size: 18px;
    margin-bottom: 10px;
    color: #cccccc;
    border-bottom: 1px solid #f4bd07;
    width: 72%;
    display: inline-block;
    padding: 5px;
  }

  .imagen-destacada-img {
    flex: 1;
    min-width: 300px;
    max-height: 100%;
    overflow: hidden;
    padding: 10px;
  }

  .imagen-destacada-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .imagenes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1680px;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 10px;
  }

  .imagen-card {
    overflow: hidden;
    text-align: center;
    position: relative;
  }

  .imagen-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
    display: block;
  }

  .imagen-card h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 5px;
    text-align: start;
    position: relative;
    display: block;
    width: 100%;
    font-family: "Georgia", serif;
  }

  .imagen-card p {
    font-size: 18px;
    padding: 5px;
    font-weight: 400;
    color: #cfcece;
    text-align: start;
    font-family: "Poppins", sans-serif;
  }

  .imagen-card .texto-f {
    font-size: 16px;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    z-index: 2;
    text-align: left;
    text-transform: none;
    border-bottom: 1px solid black;
    display: inline-block;
  }

  @media (max-width: 768px) {
    .imagenes-grid {
      grid-template-columns: 1fr;
    }

    .central-content h1 {
      font-size: 32px;
      text-align: center;
      padding: 20px;
    }

    .imagen-card h2 {
      font-size: 24px;
    }

    .imagen-card p {
      font-size: 18px;
    }

    .imagen-card .texto-f {
      font-size: 12px;
    }
  }
</style>
