---

---

<div id="electricos" class="electrico-container">
  <div class="central-content">
    <h1>ELECTRICOS</h1>
  </div>

  <div class="imagenes-grandes">
    <div class="imagen-grande">
      <a href="/notas-electricos/nota-volvo-cx40">
        <div class="electrico">
          <img
            src="../img/volvo-cx40-portada.jpg"
            alt="volvo cx40"
            class="electrico-imagen"
          />

          <div class="electrico-texto">
            <h2>volvo cx40</h2>
            <p>
              volvo presenta este diseño agregando a su portafolio, siendo una
              de las marcas que más resultados ofrece a los compradores.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="imagen-grande">
      <a href="/notas-electricos/nota-mini-cooper">
        <div class="electrico">
          <img
            src="../img/mini-cooper1.jpg"
            alt="stonic"
            class="electrico-imagen"
          />
          <div class="electrico-texto">
            <h2>Mini Cooper</h2>
            <p>
              BMW destaca por su innovación y calidad, ofreciendo vehículos que
              combinan lujo y tecnología.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="imagenes-pequenas-container">
    <div class="imagen-pequena">
      <a href="/notas-electricos/chevrolet-tahoe">
        <img
          src="../img/chevrolet-tahoe-portada.jpg"
          alt="mini suv 1"
          class="imagen-pequena-imagen"
        />
        <p class="texto-pequeno">
          Auteco Blue lanza la primera tractomula eléctrica en Colombia,
          transformando el transporte de carga.
        </p>
      </a>
    </div>
    <div class="imagen-pequena">
      <a href="/notas-electricos/ford-mustang">
        <img
          src="../img/ford-mustang.jpg"
          alt="mini suv 2"
          class="imagen-pequena-imagen"
        />
        <p class="texto-pequeno">
          San Andrés estrena su primera ambulancia 100% eléctrica para un
          servicio más sostenible.
        </p>
      </a>
    </div>

    <div class="imagen-pequena">
      <a href="/notas-electricos/changan-lumin">
        <img
          src="../img/exterior-lumin.jpg"
          alt="mini suv 3"
          class="imagen-pequena-imagen"
        />
        <p class="texto-pequeno">
          Auteco Blue expande la infraestructura de carga para vehículos
          eléctricos en Colombia.
        </p>
      </a>
    </div>

    <div class="imagen-pequena">
      <a href="/notas-electricos/toyota-cross">
        <img
          src="../img/kia-s4.jpg"
          alt="mini suv 4"
          class="imagen-pequena-imagen"
        />
        <p class="texto-pequeno">
          JAC E40X, la nueva camioneta eléctrica de Auteco Blue, llega al
          mercado colombiano.
        </p>
      </a>
    </div>
  </div>
</div>

<style>
  .electrico-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-family: "Georgia", serif;
  }

  .central-content {
    grid-row: 1;
  }

  .electrico-container h1 {
    font-weight: 600;
    font-size: 60px;
    color: #19354b;

    text-shadow: 2px 2px 6px rgba(246, 246, 246, 0.5);
    border-radius: 5px;
    padding: 15px;
    letter-spacing: 1px; /* espacio entre letras */
    width: 100%;
    margin-top: 20px;
    position: relative;
    text-transform: uppercase;
    margin: 5px;
  }

  .electrico-container h1::before,
  .electrico-container h1::after {
    content: "";
    position: absolute;
    width: 190px; /* Aumentar longitud de la línea */
    height: 4px;
    background: #19354b;
    top: 50%;
    transform: translateY(-50%);
  }

  .electrico-container h1::before {
    left: -200px; /* Colocar fuera del texto */
  }

  .electrico-container h1::after {
    right: -200px; /* Colocar fuera del texto */
  }

  /* fondo verde para texto encima de la imagen */
  .electrico-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 8, 0, 0.8);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Alinear verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.6s ease;
    text-transform: uppercase;
  }

  .imagen-grande:hover .electrico-texto {
    opacity: 1; /* Mostrar al hacer hover */
  }

  /* espacio entre el titulo y texto imagen grande */
  .electrico-texto h2,
  .electrico-texto p {
    margin: 0;
    padding: 10px;
    color: white;
  }

  /* control titulo imagenes grandes al hacer hover */
  .electrico-texto h2 {
    font-size: 52px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  /* control texto imagenes responsive */
  .electrico-texto p {
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
    font-family: Arial, sans-serif;
  }

  .imagenes-grandes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
  }

  .imagen-grande {
    position: relative;
    background-color: #f9f9f9;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.6s ease;
  }

  .imagen-grande:hover {
    transform: translateY(-10px);
  }

  .electrico-imagen {
    width: 100%;
    height: 480px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .imagenes-pequenas-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }

  .imagen-pequena {
    position: relative;

    overflow: hidden;

    transition: transform 0.6s ease;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagen-pequena:hover {
    transform: translateY(-10px);
  }

  .imagen-pequena-imagen {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .texto-pequeno {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: start;
    padding: 10px;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .electrico-container {
      padding: 20px;
    }

    .electrico-container h1 {
      font-style: normal;
    }

    .imagenes-grandes {
      grid-template-columns: 1fr;
    }

    .electrico-imagen {
      width: 100%;
      height: auto;
    }

    .imagenes-pequenas-container {
      flex-direction: column;
    }

    .imagen-pequena {
      width: 100%;
    }

    .electrico-texto {
      padding: 10px;
    }
  }

  @media (max-width: 480px) {
    .electrico-container {
      gap: 20px;
    }

    .electrico-texto h2 {
      font-size: 28px;
    }

    .electrico-texto p {
      font-size: 18px;
      color: black;
    }
  }
</style>
