<div id="electricos" class="electrico-container">
  <div class="central-content">
    <h1>Carros Eléctricos</h1>
  </div>

  <div class="grid-container">
    <div class="imagen-destacada nueva-destacada">
      <a href="/notas-electricos/nota-volvo-cx40" class="destacada-link">
        <div class="texto-destacado">
          <p class="texto-f">nota: 10-feb</p>
          <h2>Volvo CX40 RECHARGE</h2>
          <p>
            No solo ofrece una autonomía de 500km sino que además llega con
            nuevo diseño vanguardista.
          </p>
        </div>
        <div class="imagen-destacada-img">
          <img
            src="../img/volvo-cx40-portada.jpg"
            alt="Volvo CX40"
            class="electrico-imagen"
          />
        </div>
      </a>
    </div>
  </div>

  <div class="imagenes-grid">
    <div class="imagen-card">
      <a href="/notas-electricos/nota-mini-cooper">
        <img src="../img/mini-cooper1.jpg" alt="Mini Cooper" />
        <h2>Mini Cooper</h2>
        <p>Lujo y tecnología en un compacto electrico.</p>
        <p class="texto-f">nota: 13-mar</p>
      </a>
    </div>
    <div class="imagen-card">
      <a href="/notas-electricos/peugeot-e3008">
        <img src="../img/principal-peugeot.jpg" alt="peugeot e3008" />
        <h2>peugeot e3008</h2>
        <p>Eléctrico y potente para la nueva era.</p>
        <p class="texto-f">nota: 24-mar</p>
      </a>
    </div>
    <div class="imagen-card">
      <a href="/notas-electricos/byd-sealion-7">
        <img src="../img/byd-sealion-7-3.jpg" alt="Ford Mustang" />
        <h2>byd Sealion 7</h2>
        <p>Deportivo y sostenible sin perder su esencia.</p>
        <p class="texto-f">nota: 13-mar</p>
      </a>
    </div>
    <div class="imagen-card">
      <a href="/notas-electricos/nota-megane">
        <img src="../img/foto-principal-megane.gif" alt="renault megane" />
        <h2>Changan Lumin</h2>
        <p>Compacto y eficiente para la movilidad urbana.</p>
        <p class="texto-f">nota: 13-mar</p>
      </a>
    </div>
  </div>
</div>

<style>
  .electrico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    border-bottom: 20px solid black;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    font-family: "Georgia", serif;
  }

  .texto-fecha {
    font-size: 15px;
    padding: 10px;
  }

  .central-content {
    position: relative;
  }

  .central-content h1 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.9s ease;
    position: absolute;
    top: 20px;
    right: 0;

    transform: none;
    display: inline-block;
    white-space: nowrap;
    z-index: 3;
    text-shadow: 2px 2px 6px rgba(16, 16, 16, 0.8);
    padding: 20px;
  }

  .central-content h1:hover {
    color: rgb(216, 232, 244);
  }

  .grid-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .nueva-destacada {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #0e0e0e;
    margin-top: 50px;
    width: 100%;
    max-width: 1680px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  }

  .destacada-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  .texto-destacado {
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101010;
    color: white;
    text-align: left;
  }

  .texto-destacado h2 {
    font-size: 44px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f4bd07;
  }

  .texto-destacado p {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .texto-destacado .texto-f {
    font-size: 20px;
    margin-bottom: 10px;
    color: #cccccc;
    border-bottom: 1px solid #f4bd07;
    width: 72%;
    display: inline-block;
    padding: 5px;
  }

  .imagen-destacada-img {
    flex: 1;
    min-width: 300px;
    max-height: 100%;
    overflow: hidden;
  }

  .imagen-destacada-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 1.9s ease;
  }

  .imagen-destacada-img:hover img {
    transform: scale(1.2); /* Hace zoom al 110% */
  }

  .imagenes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1680px;
    margin-top: 40px;
    text-transform: uppercase;
  }

  .imagen-card {
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
    position: relative;
  }

  .imagen-card:hover {
    transform: translateY(-15px);
  }

  .imagen-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .imagen-card h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 5px;
    text-align: start;
    position: relative;
    display: block;
    width: 100%;
  }

  .imagen-card p {
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
    color: rgb(181, 180, 180);
    text-align: start;
  }

  .imagen-card .texto-f {
    font-size: 18px;
    color: rgb(247, 246, 246);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    z-index: 2;
    text-align: left;
    text-transform: none;
    border-bottom: 1px solid #f4bd07;
    display: inline-block;
  }

  @media (max-width: 900px) {
    .nueva-destacada {
      flex-direction: column;
    }

    .texto-destacado {
      padding: 10px;
      text-align: center;
    }

    .texto-destacado h2 {
      font-size: 28px;
    }

    .texto-destacado p {
      font-size: 16px;
      color: white;
    }

    .texto-destacado .texto-f {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .electrico-container {
      border-bottom: none;
      font-family: none;
    }

    .imagenes-grid {
      grid-template-columns: 1fr;
    }

    .imagen-card:hover {
      transform: none;
    }

    .central-content h1 {
      position: static; /* o 'relative' */
      font-size: 44px;
      text-align: center;
      display: block;
      margin: 0 auto;
      white-space: normal; /* permite que el texto se ajuste en varias líneas si es necesario */
      padding: 10px 20px;
      color: #4e93fb;
    }

    .imagen-card .texto-f {
      font-size: 10px;
      padding: 15px;
      color: rgb(233, 199, 74);
    }
  }
</style>
