<meta charset="UTF-8" />

<section id="deportes" class="nota-container">
  <div class="nota-header">
    <h1>Pasión por el Motor</h1>
    <p class="subtitulo">Todo en deportes</p>
  </div>

  <section class="highlight-banner">
    <a href="/notas-deportes/nota-deportes-motos">
      <img src="/img/deporte2.gif" alt="Superbikes en acción" />
      <div class="highlight-text">
        <h2></h2>
        <p>El automovilismo y motociclismo en su máxima expresión.</p>
      </div>
    </a>
  </section>

  <section class="info-grid">
    <div class="info-item">
      <a href="/notas-deportes/nota-deportes1">
        <img src="/img/deporte1.jpg" alt="Moto GP en acción" />
        <div class="texto-fecha">
          <p>Nota: 13-mar</p>
        </div>
        <h3>Máquinas de Alto Rendimiento</h3>
        <p>
          La ingeniería automotriz avanza con diseños aerodinámicos y motores
          que desafían los límites de la velocidad, precios colores todo lo que
          han desarrollado para destacar en el mercado.
        </p>
      </a>
    </div>

    <div class="info-item">
      <a href="/notas-deportes/nota-deportes2">
        <img src="/img/deporte3.jpg" alt="F1 Monoplaza" />
        <div class="texto-fecha">
          <p>Nota: 15-mar</p>
        </div>
        <h3>Tecnología de Última Generación</h3>
        <p>
          La combinación de materiales ultraligeros y sistemas inteligentes
          mejora el rendimiento en cada circuito, precios colores todo lo que
          han desarrollado para destacar en el mercado.
        </p>
      </a>
    </div>
  </section>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: whitesmoke;
    color: white;
  }

  .nota-container {
    width: 100%;
    overflow: hidden;
    border-bottom: 20px solid white;
  }

  .nota-header {
    height: 250px;
    text-align: center;
    padding: 20px 20px;
    background:
      url("/img/fondo-deporte15.jpg") no-repeat center center,
      #390505;
    background-size: cover;
    color: white;
  }

  .nota-header h1 {
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;

    display: inline-block;
    padding-bottom: 5px;
  }

  .nota-header .subtitulo {
    font-size: 25px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .highlight-banner {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .highlight-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .highlight-banner a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
  }

  .highlight-text {
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
  }

  .info-item {
    background: #222;
    padding: 20px;
    text-align: start;
  }

  .info-item img {
    width: 100%;
  }

  .info-item h3 {
    margin-top: 15px;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .info-item .p {
    font-size: 1.8rem;
  }

  .info-item .texto-fecha {
    color: #b98f04;
    padding: 10px;
    background: white;
    font-size: 15px;
  }

  @media (max-width: 1024px) {
    .nota-header h1 {
      font-size: 45px;
    }

    .nota-header .subtitulo {
      font-size: 20px;
    }

    .highlight-text {
      font-size: 25px;
      padding: 15px;
    }
  }

  @media (max-width: 768px) {
    .nota-header.alt-header {
      height: 250px;
      padding: 10px;
    }

    .nota-header h1 {
      font-size: 35px;
    }

    .nota-header .subtitulo {
      font-size: 18px;
    }

    .highlight-banner {
      height: 40vh;
      flex-direction: column;
    }

    .highlight-text {
      font-size: 20px;
      padding: 10px;
    }

    .info-grid {
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .info-item h3 {
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    .nota-header.alt-header {
      height: 200px;
    }

    .nota-header h1 {
      font-size: 28px;
    }

    .nota-header .subtitulo {
      font-size: 16px;
    }

    .highlight-banner {
      height: 30vh;
    }

    .highlight-text {
      font-size: 18px;
      padding: 8px;
    }

    .info-item h3 {
      font-size: 1.8rem;
    }
  }
</style>
