---

---

<section class="anunciantes-container">
  <div class="titulo-slider">
    <h1>unidades matriculados</h1>
  </div>
  <div class="anunciantes-carrusel">
    <div class="anunciante">
      <img src="/img/logo-bmw.jpg" alt="Logo Marca 1" />
      <p>31 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/../img/logo-audi.jpg" alt="Logo audi" />
      <p>60 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-mercedes.jpg" alt="Logo Marca 3" />
      <p>75 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-nissan.jpg" alt="Logo Marca 1" />
      <p>90 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-opel.jpg" alt="Logo Marca 2" />
      <p>106 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-porsche.jpg" alt="Logo Marca 3" />
      <p>20 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-bmw.jpg" alt="Logo Marca 1" />
      <p>31 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/../img/logo-audi.jpg" alt="Logo audi" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-mercedes.jpg" alt="Logo Marca 3" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-nissan.jpg" alt="Logo Marca 1" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-opel.jpg" alt="Logo Marca 2" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-porsche.jpg" alt="Logo Marca 3" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-bmw.jpg" alt="Logo Marca 1" />
      <p>31 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/../img/logo-audi.jpg" alt="Logo audi" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-mercedes.jpg" alt="Logo Marca 3" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-nissan.jpg" alt="Logo Marca 1" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-opel.jpg" alt="Logo Marca 2" />
      <p>669 unidades</p>
    </div>
    <div class="anunciante">
      <img src="/img/logo-porsche.jpg" alt="Logo Marca 3" />
      <p>669 unidades</p>
    </div>

    <!-- Agrega más logos según sea necesario -->
  </div>
</section>

<style>
  .anunciantes-container {
    height: 400px; /* Ajusta según sea necesario */
    margin: auto;
    position: relative;
    max-width: 100%;
    display: grid;
    place-items: center;
    background: black;
    border-bottom: 20px solid black;
  }

  .titulo-slider {
    position: absolute;
    top: 30px; /* Ajusta según la altura deseada */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(235, 182, 23);
    text-transform: uppercase;
  }

  .titulo-slider h1 {
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 40px; /* Añade espacio entre el título y el carrusel */
    font-family: "Georgia", serif;
  }

  .anunciantes-carrusel {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 60s linear infinite;
    cursor: pointer;
    margin-top: 100px; /* Ajusta este valor según el espacio que desees */
    background: black;
  }

  .anunciantes-carrusel:hover {
    animation-play-state: paused;
  }

  /* Animation imagenes carrusel */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
  }

  .anunciante {
    height: 200px;
    width: 190px;
    display: flex;
    flex-direction: column; /* Cambiado para apilar imagen y texto verticalmente */
    align-items: center;
    padding: 22px;
  }

  .anunciante img {
    transition: transform 0.9s ease-in-out; /* Suaviza la animación */
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding-top: 15px;
  }

  .anunciante img:hover {
    transform: scale(1.1);
  }

  .anunciante p {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }

  .anunciante-p {
    margin-top: 60px; /* Espacio entre la imagen y el texto */
    color: black;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
  }

  .anunciantes-carrusel::before,
  .anunciantes-carrusel::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    z-index: 2;
    /* background: linear-gradient(
      to right,
      rgba(244, 244, 244, 1) 0%,
      rgba(244, 244, 244, 0) 100%
    );*/
  }

  .anunciantes-carrusel::before {
    left: 0;
    top: 0;
  }

  .anunciantes-carrusel::after {
    right: 0;
    top: 0;
    transform: rotatez(180deg);
  }

  /* Animación infinita */
  @keyframes carrusel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-150px * 6 - 20px * 6)
      ); /* Ancho del carrusel animado */
    }
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .anunciantes-container {
      border-bottom: none;
    }

    .anunciante {
      width: 100px;
      height: auto;
      background-color: black;
    }

    .titulo-slider h1 {
      font-size: 22px;
      width: 100%; /* Ocupa el 100% del ancho */
      text-align: center; /* Centra el texto */
      margin: 0; /* Elimina los márgenes */
      padding: 0; /* Elimina el espacio interior */
    }

    .anunciante img {
      width: 100px;
      height: 65px;
      border-radius: none;
    }
  }
</style>
