/* Estilos globales */

html {
  background: black;
  background-size: 224px;
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita desbordamiento horizontal */
}

.text-box h2 {
  text-align: left !important;
}

body.otras-page .top-bar {
  position: fixed; /* Ahora el contenedor será fijo */
  top: 0; /* Fijado en la parte superior */
  left: 0;
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  background: black; /* Fondo necesario si el contenido pasa sobre él */
  z-index: 10; /* Colócalo encima de otros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: añade sombra para destacar */
}

body.otras-page .header {
  position: relative; /* Deja el resto del header intacto */
}
