---
interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass } = Astro.props;

import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import "swiper/css";
import "swiper/css/pagination";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Auto-Tech-Digital" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Fuentes -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- Estilos globales -->
    <link rel="stylesheet" href="/styles/global.css" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
